.contact-header {
  text-align: center;
  background-color: rgb(33, 55, 195);
  /* padding: 1px; */
  color: white;
  height: 50px;
  margin-top: -20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text-align-center {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-color-green {
  background-color: rgb(26, 209, 26);
}

.bg-color-red {
  background-color: rgb(233, 20, 20);
}

.border-none {
  border: none;
}

.color-white {
  color: white;
}

html {
  scroll-behavior: smooth;
}